/* exemple components */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 100vw;
  height: 100vh;
  background-color: var(--cl-blue-dark);
  color: var(--cl-white);
}

.pattern {
  animation: an-pattern 5s infinite linear;
}
